$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 14px;
  color: $main-color;
}

.dropdown-container {
  position: relative;
  margin: 40px 0;
  height: 40px;
  .dropdown-btn {
    color: $sub-color;
    padding: 10px 10px 10px 5px;
    display: flex;
    border-bottom: 1px solid $sub-color;

    .dropdown-value {
      width: 100%;
    }

    .arrow {
      content: "";
      border: 5px solid transparent;
      border-top: 5px solid rgb(122, 122, 122);
      margin-top: 15px;
    }
  }

  .form-dropdown-label {
    color: $sub-color;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .dropdown-list {
    color: $sub-color;
    width: 100%;
    border: solid 1px $sub-color;
    border-top: none;
    position: absolute;
    z-index: 2;
    background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

    .option {
      cursor: pointer;
      padding: 10px 20px;
      border-bottom: 1px solid rgb(233, 233, 233);

      &:hover {
        background: #f1f1f1;
        color: rgb(70, 70, 70);
      }
    }
  }
}
