.footer {
  background-color: rgb(224, 224, 224);
  bottom: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: initial;
  position: fixed;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 14px;
    position: static;
    background-color: rgb(238, 238, 238);
    line-height: 22px;
  }
}
