body {
  font-family: "FuturaBook", "Verdana", sans-serif;
  
  .contents{
    background-image: url(assets/poypeBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 60px 40px;
  }

  @media screen and (max-width: 800px) {
    background-image: none;
    .contents{
      padding: 60px 10px;
    }
  }
}

* {
  box-sizing: border-box;
}

.error-message {
  color: red;
}
