body {
  font-family: "FuturaBook", "Verdana", sans-serif;
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

* {
  box-sizing: border-box;
}

.error-message {
  color: red;
}
